<div class="row">
  <div class="col-md-10 mx-auto">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Messages
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Description</th>
            <th>...</th>
          </tr>
          </thead>
          <tbody>
          <% @messages.each do |message| %>
            <tr>
              <td><%= message.id %></td>
              <td><%= message.first_name %></td>
              <td><%= message.last_name %></td>
              <td><%= message.email %></td>
              <td><%= message.subject.truncate(50) %></td>
              <td><%= message.description.truncate(50) %></td>
              <td><%= link_to 'Show', contact_message_path(message) %>,
                <%= link_to 'Edit', edit_contact_message_path(message) %>,
                <%= link_to 'Delete', contact_message_path(message),
                            method: 'delete',
                            data: { confirm: 'Are you sure ?' } %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <%= will_paginate @messages, class: 'flickr_pagination' %>
      </div>
    </div>
  </div>
</div>