<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-sm bg-light">
    <a class="navbar-brand" href="<%= root_path %>">App</a>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="<%= root_path %>">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= contact_messages_path %>">List Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_contact_message_path %>">Add Message</a>
      </li>
    </ul>
  </nav>
  <div class="container pt-5">
    <%= yield %>
  </div>
  </body>
</html>
